{#
The search form for dataset search
#}
{% import 'macros/form.html' as form %}
{% resource 'bootstrap-switch/bootstrap-switch.js' %}
{% resource 'bootstrap-switch/bootstrap-switch.css' %}
{% resource 'eaw_theme/andorswitch.js' %}
{% resource 'eaw_theme/eaw_theme_hidewithjs.js' %}
{% resource 'eaw_vocabularies/eaw_vocabularies_daterange_info.js' %}


<h3>{{ _('Filter Datasets') }}</h3>
{% if form_id is not defined %}
  {% set form_id="dataset-search-form" %}
{% endif %}

{% block errors %}{{ form.errors(c.search_errors, type="error") }}{% endblock %}

{%- set clear_url =  h.url_for(controller=c.controller, action=c.action, id=c.id) %}
{% set fields_grouped = h.eaw_mk_fields_grouped() %}

<form id="{{ form_id }}"
      class="form-inline {% if no_bottom_border %} no-bottom-border{%
      endif %} search-form"
      method="get" data-module="select-switch"
      data-module-target="select">

      {# Variables #}
      {% set fieldname='variables' %}
      {% snippet 'snippets/eaw_specific_search.html',
      title=_('Variables'),
      fieldname=fieldname,
      options=h.eaw_choices(fieldname, dataset_type),
      fields_grouped=fields_grouped,
      form_id=form_id %}
      
      {# Systems #}
      {% set fieldname='systems' %}   
      {% snippet 'snippets/eaw_specific_search.html',
      title=_('Systems'),
      fieldname=fieldname,  
      options=h.eaw_choices(fieldname, dataset_type),   
      fields_grouped=fields_grouped,
      form_id=form_id %}
      
      {# Time range #}
      {% set timestartval = fields_grouped['eaw_fqfield_timestart'] |first %}
      {% set timeendval = fields_grouped['eaw_fqfield_timeend'] |first %} 
      {%- set title = _('Time(-Range)') %}

      <div class="time-search {% if c.search_errors.timerange %}error{% endif %}">
	<h4 class="h4searchlabel">Time-Start</h4>
	<div class="search-input">
	  <input style="width:24ex;" type="text" id="time-start"
		 name="eaw_fqfield_timestart" value="{{ timestartval }}"/>
      	</div>
      </div>
      <div class="time-search {% if c.search_errors.timerange %}error{% endif %}">
	<h4 class="h4searchlabel">Time-End</h4>
	<div class="search-input">
	  <input style="width:24ex" type="text" id="time-end"
		 name="eaw_fqfield_timeend" value="{{ timeendval }}"/>
	  <button type="submit" value="search" class="outsidebutton"> 
	    <i class="icon-search"></i>   
	    <span>{{ _('Search') }}</span>   
	  </button>
	  <button  type="button" class="outsidebutton second"
		   data-module="eaw_vocabularies_daterange_info"
		   data-module-target="#timerangehelp">
		   <i class="icon-info-sign"></i>
	  </button>
	</div>
      </div>

      {% snippet 'package/snippets/timerangehelp-modal.html' %}
      
      <p style="clear:both;"></p>
      
      <div class="btn-group clear-filter-group">
        <a class="btn" type="button" href="{{ clear_url }}">
	  <i class="icon-ban-circle"></i>
	  {{ _('Clear') }}
	</a>
	<button class="btn fouc" type="submit">
	  <i class="icon-search"></i>
	  {{ _('Filter') }}
	</button>
      </div>

      {# Advanced Search #}
	<ul class="nav nav-pills advsearchbutton"
	    data-module="eaw_theme_hidewithjs"
	    data-module-target="#advancedsearch" data-module-query={{ query }}>
      	  <li><a href="#">{{ _('Advanced Search') }} <span class="caret"></span></a></li>
      	</ul>
	<div id="advancedsearch" class="fouc">
          <div class="search-input">
	    <input type="text" class="search wide-search" name="q" value="{{ query }}"
      	    	   autocomplete="off" placeholder="type query ...">
	    <button type="submit" value="search" class="outsidebutton"> 
	      <i class="icon-search"></i>   
	      <span>{{ _('Search') }}</span>   
	    </button>
	    <button  type="button" class="outsidebutton second"
		     data-module="eaw_vocabularies_daterange_info"
		     data-module-target="#advancedsearchhelp">
	      <i class="icon-info-sign"></i>
	    </button>
      	  </div>
	</div>

	{% snippet 'package/snippets/advancedsearchhelp-modal.html' %}

	{% block search_search_fields %}
	  {% set facet_fields=h.eaw_get_facetfields() %}
	  {% if facet_fields -%}
	    <span>{{ form.hidden_from_list(fields=facet_fields) }}</span>    
	  {%- endif %}    
	{% endblock %}  

  <hr style="clear:both;"/>
  
  <div class="form-select control-group control-order-by ">
    {% if sorting %}
    <label for="field-order-by">{{ _('Order by') }}</label>
    <select id="field-order-by" name="sort">
        {% for label, value in sorting %}
          {%- if label and value %}
            <option value="{{ value }}" {%- if sorting_selected == value %}
		    selected="selected"{%- endif %}>{{ label }}
	    </option>
          {% endif %}
        {% endfor %}
    </select>
    {% endif %}
  </div>

  {% block search_title %}
    {% if not no_title %}
      
      <h2>{% snippet 'snippets/search_result_text.html', query=query,
	count=count, type=dataset_type %}</h2>
      
    {% endif %}
  {% endblock %}
  
  <hr />
</form>

{% if show_empty and count == 0 %}
  {% trans %}
    <p class="extra">Please try another search.</p>
  {% endtrans %}
{% endif %}

{% if error %}
  {% trans %}
    <p><strong>There was an error while searching.</strong> Please try again.</p>
  {% endtrans %}
{% endif %}

