{#
Add new elementary fields to "Additional data" in dataset display.
#}

{% ckan_extends %}

{% block extras %}

{% if pkg_dict.variables %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Variables" ) }}</th>
  <td class="dataset-details">{{ pkg_dict.variables }}</td>
</tr>
{% endif %}
{% if pkg_dict.systems %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Systems" ) }}</th>
  <td class="dataset-details">{{ pkg_dict.systems }}</td>
</tr>
{% endif %}
{% if pkg_dict.timerange %}
<tr>
  <th scope="row" class="dataset-label">{{ _("Time range" ) }}</th>
  <td class="dataset-details">{{ pkg_dict.timerange }}</td>
</tr>
{% endif %}
{% endblock %}
