{#
The search form for dataset search
#}

{% import 'macros/form.html' as form %}
{% resource 'bootstrap-switch/bootstrap-switch.js' %}
{% resource 'bootstrap-switch/bootstrap-switch.css' %}
{% resource 'eaw_theme/andorswitch.js' %}
  

{#
{% set placeholder = placeholder if placeholder else _('Search datasets...') %}
{% set sorting = sorting if sorting else [(_('Name Ascending'), 'name asc'), (_('Name Descending'), 'name desc')] %}
{% set search_class = search_class if search_class else 'search-giant' %}
{% set no_bottom_border = no_bottom_border if no_bottom_border else false %}
{% set form_id = form_id if form_id else false %}
#}


{# A generic input_block for providing the default markup for CKAN form elements. #}
{# It is expected to be called using a {% call %} block, the contents of which #}
{# will be inserted into the .controls element. #}

{# for     - The id for the input that the label should match. #}
{# label   - A human readable label. #}
{# error   - A list of error strings for the field or just true. #}
{# classes - An array of custom classes for the outer element. #}
{# control_classes - An array of custom classes for the .control wrapper. #}
{# extra_html - An html string to be inserted after the errors eg. info text. #}
{# is_required - Boolean of whether this input is requred for the form to validate #}

{# Example: #}

{#   {% import 'macros/form.html' as form %} #}
{#   {% call form.input_block("field", "My Field") %} #}
{#     <input id="field" type="text" name="{{ name }}" value="{{ value | empty_and_escape }}" /> #}
{#   {% endcall %} #}


{# {% macro input_block(for, label="", error="", classes=[], control_classes=[], extra_html="", is_required=false) %} #}
{#   <div class="control-group{{ " error" if error }}{{ " " ~ classes | join(' ') }}"> #}
{#     <label class="control-label" for="{{ for }}">{% if is_required %}<span title="{{ _("This field is required") }}" class="control-required">*</span> {% endif %}{{ label or _('Custom') }}</label> #}
{#     <div class="controls{{ " " ~ control_classes | join(' ') }}"> #}
{#       {{ caller() }} #}
{#       {% if error and error is iterable %}<span class="error-block">{{ error|join(', ') }}</span>{% endif %} #}
{#       {{ extra_html }} #}
{#     </div> #}
{#   </div> #}
{# {% endmacro %} #}




{# {% macro select(name, id='', label='', options='', selected='', error='', classes=[], attrs={}, is_required=false) %} #}
{#   {% set classes = (classes|list) %} #}
{#   {% do classes.append('control-select') %} #}
{#   {% if selected is string %}{% set selected = [selected] %}{% endif %} #}

{#   {%- set extra_html = caller() if caller -%} #}
{#   {% call input_block(id or name, label or name, error, classes, extra_html=extra_html, is_required=is_required) %} #}
{#     <select id="{{ id or name }}" name="{{ name }}" {{ attributes(attrs) }}> #}
{#       {% for option in options %} #}
{#         <option value="{{ option.value }}"{% if option.value in selected %} selected="selected"{% endif %}>{{ option.text or option.value }}</option> #}
{#       {% endfor %} #}
{#     </select> #}
{#   {% endcall %} #}
{# {% endmacro %} #}



<form {% if form_id %}id="{{ form_id }}" {% endif %}class="search-form{% if no_bottom_border %} no-bottom-border{% endif %}" method="get" data-module="select-switch" data-module-target="select, fieldset">
{% set clear_url =  h.url_for(controller='package', action='search') %}
  <h3>{{ _('Filter Datasets') }}</h3>
  <div style="display:table;">
    <div style="display:table-cell;">
      {% set taglist_variables=h.eaw_taglist("variables") %}
      {% set select = c.fields_grouped['variables'] %}
      {% set id = "field-variables"%}
      {% set name = "variables" %}
      {% set attrs = 'multiple="multiple" data-module="autocomplete" placeholder="placeholder"' %}
      {% set placeholder = 'eg. %(tag1)s, %(tag2)s, %(tag3)s, ...'
      |format(tag1=taglist_variables[0].value,tag2=taglist_variables[1].value, tag3=taglist_variables[2].value) %}
      <div class="control-group control-select">
	<div class="controls">
	  <select id="{{ id }}" name="{{ name }}" {{ attrs }}>
	    {% for option in taglist_variables %}
              <option value="{{ option.value }}"{% if option.value in select %} selected="selected"{% endif %}>{{ option.text or option.value }}</option>
	    {% endfor %}
	  </select>
	</div>
      </div>
    </div>
    <div style="display:table-cell;vertical-align:middle;position:relative;">
      {% set selected = c.fields_grouped['OP_variables']|first %}
      <fieldset>
	<input type="checkbox" data-module="andorswitch" id="and-or" name="OP_variables"
	       value="OR" {% if selected == "OR" %}checked="checked"{% endif %}>
      </fieldset>
    </div>
  </div>
  
  {% set  select = c.fields_grouped['systems'] %}
  {#{% set classes = ['form-horizontal'] %}#}
  {% set taglist_systems=h.eaw_taglist("systems") %}
  {{ form.select('systems', id='field-systems', classes=classes, attrs={"multiple": "multiple", "data-module": "autocomplete"},
  label=_('Systems'), options=taglist_systems, selected=select) }}
  

  {#
  {% block search_input %}
    <div class="search-input control-group {{ search_class }}">
      <input type="text" class="search" name="q" value="{{ query }}" autocomplete="off" placeholder="{{ placeholder }}">
      {% block search_input_button %}
	<button type="submit" value="search">
          <i class="icon-search"></i>
          <span>{{ _('Submit') }}</span>
	</button>
      {% endblock %}
    </div>
  {% endblock %}
  #}
  
  {% set facet_fields = h.eaw_get_facetfields() %} 
  FACET NAMES: {{ facet_fields }} 
  <p> 
  FIELDS: {{ fields }} 
  {% block search_search_fields %}  
  {% if facet_fields -%}    
    <span>{{ form.hidden_from_list(fields=facet_fields) }}</span>    
  {%- endif %}    
  {% endblock %}  
  
      
<div class="clear-form-button">
  <a class="btn" href={{ clear_url }}><i class="icon-large icon-remove-circle"></i>Clear Filter</a>
</div>

  {% block search_sortby %}
    {% if sorting %}
      <div class="form-select control-group control-order-by">
        <label for="field-order-by">{{ _('Order by') }}</label>
        <select id="field-order-by" name="sort">
          {% for label, value in sorting %}
            {% if label and value %}
              <option value="{{ value }}"{% if sorting_selected == value %} selected="selected"{% endif %}>{{ label }}</option>
            {% endif %}
          {% endfor %}
        </select>
        {% block search_sortby_button %}
        <button class="btn js-hide" type="submit">{{ _('Go') }}</button>
        {% endblock %}
      </div>
    {% endif %}
  {% endblock %}

  {% block search_title %}
    {% if not no_title %}
      <h2>{% snippet 'snippets/search_result_text.html', query=query, count=count, type=type %}</h2>
    {% endif %}
  {% endblock %}

  {% block search_facets %}
    {% set facet_names = h.eaw_get_facetnames() %}
    {{ facet_names }}
    {% if facet_names %}
      <p class="filter-list">
        {% for field in facet_names %}
          {% set search_facets_items = facets.search.get(field)['items'] %}
          <span class="facet">{{ facets.titles.get(field) }}:</span>
          {% for value in facets.fields[field] %}
            <span class="filtered pill">
              {%- if facets.translated_fields and facets.translated_fields.has_key((field,value)) -%}
                {{ facets.translated_fields[(field,value)] }}
              {%- else -%}
                {{ h.list_dict_filter(search_facets_items, 'name', 'display_name', value) }}
              {%- endif %}
              <a href="{{ facets.remove_field(field, value) }}" class="remove" title="{{ _('Remove') }}"><i class="icon-remove"></i></a>
            </span>
          {% endfor %}
        {% endfor %}
      </p>     
      <a class="show-filters btn">{{ _('Filter Results') }}</a>
    {% endif %}
  {% endblock %}

</form>

{% if show_empty and count == 0 %}
  {% trans %}
    <p class="extra">Please try another search.</p>
  {% endtrans %}
{% endif %}

{% if error %}
  {% trans %}
    <p><strong>There was an error while searching.</strong> Please try again.</p>
  {% endtrans %}
{% endif %}

